public-hoist-pattern[]=*tailwindcss*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*autoprefixer*
public-hoist-pattern[]=@nestjs/*
public-hoist-pattern[]=@prisma/*
public-hoist-pattern[]=prisma
public-hoist-pattern[]=class-validator
public-hoist-pattern[]=class-transformer
public-hoist-pattern[]=reflect-metadata
public-hoist-pattern[]=rxjs
public-hoist-pattern[]=ioredis
public-hoist-pattern[]=passport*
public-hoist-pattern[]=express
public-hoist-pattern[]=@types/express
public-hoist-pattern[]=class-variance-authority
public-hoist-pattern[]=clsx
public-hoist-pattern[]=tailwind-merge
